{% extends 'base.html' %}
{% block content %}

    <div class="add-container">
        <h2>空き情報をシェアする</h2>
        <div class="add-form-container">
            <form action="/add" method="post">
                <div class="form-parts form-spaceinfo">
                    <label class="required" for="add-space">施設名</label>
                    <input type="text" name="space" id="add-space" required placeholder="例）高松ホール 小会議室">
                </div>
                <div class="form-parts form-datetime">
                    <div class="form-left">
                        <label class="required" for="add-date">日付</label>
                        <input type="date" name="date" id="add-date" required >
                    </div>
                    <div class="form-right">
                        <label class="required" for="start_time">開始時刻</label>
                        <select name="start_time" id="start_time" required>
                                <option value="">-</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                        </select>
                    </div>
                    <div class="form-right">
                        <label class="required" for="end_time">終了時刻</label>
                        <select name="end_time" id="end_time" required>
                            <option value="">-</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>   
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="form-parts form-anounce">
                    <p>↓オプション項目</p>
                </div>
                <div class="form-parts form-option">
                    <div class="form-left">
                        <p>収容人数</p>
                        <input type="text" name="capacity" id="add-capacity" class="add-capacity" placeholder="例）～10人">　人　
                    </div>
                    <div class="form-right">
                        <p>料金（１時間あたり）</p>
                        <input type="text" name="price" id="add-price" class="add-number">　円
                    </div>
                </div>
                <br>
                <br>
                <div class="form-parts form-memo">
                    <p>その他メモ</p>
                    <textarea name="memo" id="add-memo" placeholder="例）駐車場がないので近隣の有料駐車場を利用します"></textarea>
                   
                    <input type="submit" value="投稿する" class="add-btn">
                    <input type="button" value="閉じる" onClick="history.back()"  class="return-btn">
                </div>
                
            </form>
        </div>
    </div>

 
{% endblock %}