{% extends 'base.html' %}
{% block content %}
    
    <div class="detail-container">
        <h2>空き情報詳細を確認 ／ 予約済みを報告する</h2>
        <br>
        <p>施設名　　　：　{{ space[1] }}</p>
        <p>空き日時　　：　{{ space[2] }}　{{ space[3] }}時～{{ space[4] }}時</p>
        <p>収容人数　　：　{% if space[5] %}{{ space[5] }}{% endif %}</p>
        <p>料金　　　　：　{% if space[6] %}{{ space[6] }}{% endif %}</p>
        <p>情報提供日　：　{{ space[9] }}</p>
        <form action="/detail/{{ space[0] }}" method="post">
            <p>メモ（予約する場合はお礼を追記しましょう♪）</p>
            <textarea name="memo" id="edit-memo">{% if space[7] %}{{ space[7] }}{% endif %}</textarea>
            <br>
            <strong>予約済みを報告する場合はチェック→</strong><input type="checkbox" name="done" id="edit-done" value="done" {% if space[8] == 1 %} checked {% endif %}>
            <input type="submit" value="送信" class="add-btn">
        </form>
    </div>

{% endblock %}